<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/samdoree_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/samdoree_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FieldGeoLog"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.blacklog.takepicture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".CommunityActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".GeoMapActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakaoe2d71ca93d273e6e9a1071288155d4fd" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".MyPageActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".MyRecordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".NewRecordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".OldNewRecordActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".OneArticleActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">

        </activity>

        <activity
            android:name=".OneRecordActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProjectListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ReadArticleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".RockDicActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".RockDicDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



        <activity
            android:name=".ReadPersonalRecordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".RecordWriteActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".WriteActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".S3Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6f504f9b73ad280372b2aff0036b6f32" />
    </application>

</manifest>